body {
    font-family: 'Montserrat', sans-serif;
}

#header {
    height: 100vh;
    background: url(../images/slider.jpg) no-repeat bottom center;
    background-size: cover;
    margin-bottom: 20px;
}

#header>.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#header #topNav .nav-link {
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
}

#header #topNav .nav-link:hover {
    text-transform: uppercase;
    color: #f24282;
}

#header #topNav .nav-link.btn-das {
    padding-left: 30px;
    padding-right: 30px;
    padding-right: 30px;
}

.btn-das {
    color: #fff;
    background-color: #f24282;
    border-color: #f24282;
}

.btn-das:hover {
    color: #fff;
    background-color: #fff;
    border-color: #eee;
}

.btn-das:focus,
.btn-das.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-das.disabled,
.btn-das:disabled {
    background-color: #f24282;
    border-color: #f24282;
}

.btn-das:not([disabled]):not(.disabled):active,
.btn-das:not([disabled]):not(.disabled).active,
.show>.btn-das.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #eee;
}

.btn-das:not([disabled]):not(.disabled):active:focus,
.btn-das:not([disabled]):not(.disabled).active:focus,
.show>.btn-das.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}


/* #f24282
font-family: 'Signika', sans-serif;
*/

#featured .card-img-overlay {
    top: auto;
}
#featured .card {
    margin-bottom: 20px;
}

.cat1 .card-title {
    font-size: 36px;
}

.card::before {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.card:hover::before {
    background: rgba(0, 0, 0, 0);
}